@import url('https://fonts.googleapis.com/css?family=Barlow:200,300,400,600,700,700i,800,800i,900,900i|Fira+Sans+Extra+Condensed:100,100i,200,200i,300,300i,400,700i,800i,900,900i|Fira+Sans:100,100i,200,200i,300,300i,400,600i,700,700i,800,800i,900,900i|Grenze:100,100i,200,200i,300,300i,400,600,600i,700,700i,800i,900|Kanit:400,500,500i,600,600i,700,700i,800,800i,900,900i|Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600i,700,700i,800,800i,900,900i|Poppins:400,500,500i,600,600i,700,700i,800,800i,900,900i|Raleway:100i,200,200i,300,300i,400,700,700i,800,800i,900|Trirong:100,100i,200,200i,300,300i,400,500i,600,700,700i,800,800i,900,900i&display=swap');

@font-face {
  font-family: 'Faune';
  font-weight: 400;
  src: url('../fonts/faune-regular.woff2'), url('../fonts/faune-regular.woff');
}

@font-face {
  font-family: 'Faune';
  font-weight: 400;
  font-style: italic;
  src: url('../fonts/faune-italic.woff2'), url('../fonts/faune-italic.woff');
}

@font-face {
  font-family: 'Faune';
  font-weight: 700;
  src: url('../fonts/faune-bold.woff2'), url('../fonts/faune-bold.woff');
}

body {
  font-family: 'Faune', Arial;
  font-size: 16px;
  line-height: 1.5;
  background-color: #333333;
  color: #ffffff;
  margin: 0 0 0 360px;
}
